<% provide(:title, 'Create New List') %>
<h1>Add a List</h1>
<div class="form-wrapper">
<%= simple_form_for(@list) do |f| %>
  <%= f.error_notification %>

  <%= f.input :title, required: true, autofocus: true %>
  <%= f.input :content, require: true, as: :text %>
  <%= f.button :submit %>

<% end %>
<div>
<%= link_to "Unsure how to format?", "https://guides.github.com/features/mastering-markdown/" %>
