<% provide(:title, "Create New List") %>
<%= simple_form_for(@list) do |f| %>
  <%= f.error_notification %>
  <div class="row">
    <div class="large-12 columns">
      <%= f.input :title, required: true, autofocus: true%>
      <%= f.input :content, require: true, as: :text, input_html: { rows: 20 }, hint: "(Double Enter for newline.)"  %>
      <%= f.association :categories, as: :check_boxes %>
    </div>
  <%= f.button :submit, class: "button expand" %>

<% end %>
<break>
<%= link_to "Unsure how to format?", "https://guides.github.com/features/mastering-markdown/", class: "button tiny", target: "_blank" %>
