<h1 class="list-title">
  <%= "#{@list.likes.count} - #{@list.title}" %>
</h1>
<div class="list-header">
  <% if current_user %>
    <% if @like %>
      <%= link_to 'Unlike', like_path(list_id: @list.id), method: :delete, class: "label tiny radius alert" %>
    <% else %>
      <%= link_to 'Like', likes_path(list_id: @list.id), method: :post, class: "label tiny radius alert" %>
    <% end %>
  <% end %>
  <% @list.categories.each do |category| %>
    <span class="label radius"><%= link_to category.name, category, class: "category-label" %></span>
  <% end %>
</div>
<div class="list-content">
  <%= render_markdown(@list.content) %>
  <span class="comment-name"><%= link_to "- #{@list.user.first_name}", @list.user %></span>
  <% if current_user && current_user.admin? || @list.user = current_user %>
    <div class="list-buttons">
      <%= link_to 'Edit', edit_list_path(@list), class: "button small radius" %>
      <%= link_to "Delete", @list, class: "button small alert radius", method: :delete, data: { confirm: 'Are you sure?' } %><br>
    </div>
  <% end %>
</div>
<h1 class="comment-header"> Comments </h1>
<% @comments.each do |comment| %>
  <div class="comment-box">
    <div class="comment">
      <%= comment.content %>
      <span class="comment-name right"><%= link_to "- #{comment.user.first_name}", comment.user %></span>
    </div>
    <% if current_user && current_user.admin? || comment.user == current_user %>
      <br>
      <%= link_to "Edit Comment", edit_list_comment_path(@list, comment), class: "button small radius" %>
      <%= link_to "Delete Comment", [@list, comment], class: "button small alert radius", method: :delete, data: { confirm: 'Are you sure?' } %><br>
    <% end %>
    <hr>
  </div>
<% end %>
<% if current_user %>
  <%= link_to "New Comment", new_list_comment_path(@list), class: "button small radius" %>
<% end %>

